<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Homepage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
	
<nav class="navbar navbar-inverse navigation_bar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#home">Home</a></li>
        <li><a href="#ido">What I Do</a></li>
        <li><a href="#projects">Projects</a></li> 
        <li><a href="#contact">Contact Me</a></li> 
      </ul>
    </div>
  </div>
</nav>
<div class="blue_bg navfix" id="home">
	<section class="content_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<div class="img-container">
							<img src="images/profile.jpg" alt="Profile Image">
						</div>
						<div class="jumbotron text-center">
						<h1>Looking for a Great Project to be done?</h1>
						<h3>I'm Chandra, <br><small> UI Developer </small></h3>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="light_blue_bg" id="ido">
	<section class="content_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<div class="jumbotron text-center">
						<h1>I'm Creative</h1>
						<div>
							I'm Passionate developer, Self-Learner and Highly Motivated Person who is always curious to solve new challenges.
						</div>
						<div class="technologies">
						<div>I Have Worked With the Following Technologies</div>
							<ul class="tech_list">
								<li><img src="images/html5.png" alt=""></li>
								<li><img src="images/css3.png" alt=""></li>
								<li><img src="images/js.png" alt=""></li>
							</ul>
						</div>
						
						</div> 
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


<div class="light_green_bg" id="projects">
	<section class="content_wrapper">
		<div class="container">
			<div class="row">
				<div class="content projects">
						<div class="jumbotron text-center">
						<h1>Projects</h1>
						<h3>Worked as UI Developer at <b>APIK Digitial Designers</b>, on Company's Product <div><a href="http://www.moviesfyi.com/" target="__blank">MoviesFyi.com</a></div></h3>

						<div class="other_projects">
						<h4>Other Projects</h4>
						 <ul>
						 	<li><a href="http://hotozee.tk/" target="__blank">Hotozee</a></li>
						 	<li><a href="https://flipkartapi.herokuapp.com/" target="__blank">Flipkart Affiliate API</a></li>
						 	<li><a href="https://snapdeal-api.herokuapp.com/" target="__blank">Snapdeal Affiliate API</a></li>
						 </ul>
						 </div>
						</div>
			</div>
		</div>
	</section>
</div>

<div class="dark_blue_bg" id="contact">
	<section class="content_wrapper">
		<div class="container">
			<div class="row">
				<div class="content contact">
					<div class="jumbotron text-center">
					<h1>Contact Me</h1>
						<div class="mail"><span>Mail id</span> - chndraja@gmail.com</div>
						<div class="phone"><span>Phone</span> - 8099034221</div>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="co-md-12">
			<ul class="tech_comm">
			<li><a href="https://codepen.io/chandrashekhar/" target="__blank">Find Me On Codepen.io <i class="fa fa-codepen"></i></a></li>
			<li><a href="https://stackoverflow.com/users/4114390/chandra-shekhar?tab=profile" target="__blank">Find Me on Stackoverflow <i class="fa fa-stack-overflow"></i></a></li>
		</ul>
			</div>
		</div>
		</div>
	</section>
</div>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/script.js"></script>
</body>
</html>